@{layout('')}
@{title(config.name)}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	@{import('meta', 'head', 'spa.js', 'app.css', 'favicon.ico')}
</head>
<body>
<div data---="notify"></div>
<div data---="calendar__null__today:Set today;firstday:0"></div>
<div class='container block-content'>
    <header>
       <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">@{config.name}</a>
            </div>      
            <div class="collapse navbar-collapse" id="navbar-collapse" data---="selected__common.page__selector:li;class:active;">
                <ul class="nav navbar-nav navbar-left">
                   <li>
                     <div class="navbar-form form-inline" role="form" id="form_filter">
                        <div class="form-group">
                            <div data---="textbox__option.query__placeholder:Enter the search string;class:form-control;" class='mr5'></div>	   
                            </div>
                            <button type='button' data-jc="click__apply_filter__enter:#form_filter" class='btn btn-default'><i class="fa fa-filter" aria-hidden="true"></i> Apply</button>                            
                        </div>
                   <li>
                   <li data-if="search"><a href="@{#}/search" class="R"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
                   <li data-if="top"><a href="@{#}/top" class="R"><i class="fa fa-star" aria-hidden="true"></i> Top News</a></li>
                   <li data-if="history"><a href="@{#}/history" class="R"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li data-if="setting"><a href="@{#}/setting" class="R"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a></li>
                 </ul>
          </div>
       </nav>
    </header>
    <div id="body" class='m10'>
        <div data-import="url:/part/template.html;init:initTemplate"></div>        
        <div data-jc="part__common.page__url:/part/hello.html" class='hidden'></div>
        <div data-jc="part__common.page__if:search;url:/part/search.html" class='hidden'></div>
        <div data-jc="part__common.page__if:top;url:/part/top.html" class='hidden'></div>
        <div data-jc="part__common.page__if:history;url:/part/history.html" class='hidden'></div>
        <div data-jc="part__common.page__if:setting;url:/part/setting.html" class='hidden'></div>
    </div>    
</div>     
@{import('app.js')}
</body>
</html>