<!DOCTYPE html>
<html>
<head>
	<title>Пример 6</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="lib/style.css" />
	<link rel="stylesheet" href="lib/ui.css" />
	<script src="lib/jquery-2.2.4.min.js"></script>
	<script src="lib/masonry.min.js"></script>
	<script src="lib/imagesloaded.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>	
<body>
<template id='tEnd'>	 
	<div class="col-md-12 text-center"><hr><p class="end">End of content</p></div>
</template>
<template id="tCard">
   {{ foreach article in articles }}
      <div class='col-md-4 mb10 item'>
	<div class='thumbnail card'>
	   <a href='{{article.url}}' target='_blank' data-title='{{article.title}}' data-imgurl='{{article.urlToImage}}' data-description='{{article.description}}' data-bind="null__click:url_view">	
             <div class='frame'>
              {{ if article.urlToImage }}
	            <img src="{{article.urlToImage}}" class='img-responsive'>
              {{ else }}
	            <img src="lib/no_image.png" class='img-responsive'>
              {{fi}}	  
               <div class='title'>  
                 <div class='head'>
                    {{article.source.name}}                                     
                 </div>  
               </div>
             </div>   
           </a>  
           <div class='caption'>
	      <h3><a href='{{article.url}}' target='_blank' data-title='{{article.title}}' data-imgurl='{{article.urlToImage}}' data-description='{{article.description}}' data-bind="null__click:url_view">{{article.title}}</a><br><small>{{article.publishedAt|format('dd.MM.yyyy hh:mm')}}</small></h3>
              <p>{{article.description}}</p>  
           </div>
        </div>
      </div>	
   {{ end }}
</template>
<div data---="notify"></div>
<div data---="calendar__null__today:Set today;firstday:0"></div>
<div class='container block-content'>
<header>
   <nav class="navbar navbar-default navbar-static-top">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NAG</a>
        </div>      
        <div class="collapse navbar-collapse" id="navbar-collapse" data---="selected__common.page__selector:li;class:active;">
     	 <ul class="nav navbar-nav navbar-left">
	   <li>
	     <div class="navbar-form form-inline" role="form" id="form_filter">
	        <div class="form-group">
  	            <div data---="textbox__option.query__placeholder:Enter the search string;class:form-control;"></div>	   
                </div>
                <button type='button' data-jc="click__apply_filter__enter:#form_filter" class='btn btn-default'><i class="fa fa-filter" aria-hidden="true"></i> Apply</button>
                <!--<button type='button' data-bind="null__click:apply_filter" class='btn btn-default'><i class="fa fa-filter" aria-hidden="true"></i> Apply</button>-->
            </div>
           <li>
	   <li data-if="search"><a href="#search" class="R"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
	   <li data-if="top"><a href="#top" class="R"><i class="fa fa-star" aria-hidden="true"></i> Top News</a></li>
	   <li data-if="history"><a href="#history" class="R"><i class="fa fa-history" aria-hidden="true"></i> History</a></li>
         </ul>
     	 <ul class="nav navbar-nav navbar-right">
	   <li data-if="setting"><a href="#setting" class="R"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a></li>
         </ul>
      </div>
   </nav>
</header>
<div id="body" class='m10'>
    <div data-jc="part__common.page" class='hidden'>
       <h1>Hello</h1>
       <hr>
       <p>This is a test SPA app. News aggregator.<br><br>You can search for news from all over the world and in different languages.</p>  
       <p>You can also change the <a href='#setting' class="R">settings</a></p>
    </div>
    <div data-jc="part__common.page__if:search" class='hidden'>
       <h1>Search news</h1>
       <div data-bind="option__template" style='color:gray'>
	  <script type="text/html">
              {{ if value.query }}<span>Query string: {{value.query}}</span> | {{ fi }}
              {{ if value.language }}<span>Language: {{value.language|select(arr_language)}}</span> | {{ fi }}
              {{ if value.sortBy }}<span>Sort: {{value.sortBy|select(arr_sortby)}} </span> | {{ fi }}
              {{ if value.use_date }}<span>From date: {{value.from|format('dd.MM.yyyy')}}, To date: {{value.to|format('dd.MM.yyyy')}} | </span>{{ fi }}
	  </script>
       </div>
       <hr>
       <div class='row search_content'>	
       </div>
    </div>
    <div data-jc="part__common.page__if:top" class='hidden'>
       <h1>Top news</h1>
       <div data-bind="option__template" style='color:gray'>
	  <script type="text/html">
              {{ if value.category }}<span>Category: {{value.category|select(arr_categories)}}</span> | {{ fi }}
              {{ if value.country }}<span>Country: {{value.country|select(arr_countries)}}</span> | {{ fi }}
              {{ if value.language }}<span>Language: {{value.language|select(arr_language)}} </span> | {{ fi }}
              {{ if value.sortBy }}<span>Sort: {{value.sortBy|select(arr_sortby)}} </span> | {{ fi }}
	  </script>
       </div>
       <hr>
       <div class='row top_content'>	
       </div>   
    </div>
    <div data-jc="part__common.page__if:history" class='hidden'>
       <h1>History</h1>
       <hr>
       <table class='table table-hover'>
	  <thead> 
	    <tr>
	      <th width='5%'>#</th> 
              <th width='15%'>Thumb</th>
              <th width='15%'>Date view</th> 
              <th width='auto'>News</th>
           </tr> 
         </thead>
         <tbody data-bind="common.history__template">
	    <script type="text/html">
	     {{ foreach item in value }}
                <tr>
                   <td>{{ $index + 1}}</td>
                   <td>{{ if item.thumb }}<img src="{{item.thumb}}" class='img-responsive'>{{ else }}<img src="lib/no_image.png" class='img-responsive'>{{fi}}</td>
                   <td>{{item.dt|format('dd.MM.yyyy hh:mm:ss')}}</td>
                   <td><h4><a href='{{item.url}}' target='_blank'>{{item.title}}</a></h4><p>{{item.description}}</p></td>
                </tr> 
	     {{ end }}
           </script>
         </tbody>
       </table>
    </div>
    <div data-jc="part__common.page__if:view" class='hidden'>
       <h1>News view</h1>
       <hr>
       <div class='row'>
         <div class='col-md-12'>
            <div data---="iframepreview__common.url"></div>
         </div>
       </div>
    </div>
    <div data-jc="part__common.page__if:setting" class='hidden'>
       <h1>Settings</h1>
       <hr>
	<div class='row'>
    	  <div class='col-md-4 center-block' style='float:none;'>
	    <div class="panel panel-default" style='margin: 20px 0; padding:10px;'>
   	      <div class="form-group">
		   <div data---="dropdown__option.country__datasource:arr_countries;class:form-control;">Country</div>
	      </div>
   	      <div class="form-group">
		   <div data---="dropdown__option.category__datasource:arr_categories;class:form-control;">Category</div>
	      </div>
   	      <div class="form-group">
		   <div data---="dropdown__option.language__datasource:arr_language;class:form-control;">Language</div>
	      </div>
   	      <div class="form-group">
		   <div data---="dropdown__option.sortBy__datasource:arr_sortby;class:form-control;">Sort By</div>
	      </div>
              <div data---="checkbox__option.use_date" class='mb10'>Use date period?</div> 
	      <div data-bind="option.use_date__hide:!value">
	         <div data---="textbox__option.from__type:date;format:dd.MM.yyyy;required:true;" class='mb10'>From date</div>	 
                 <div data---="textbox__option.to__type:date;format:dd.MM.yyyy;required:true;" class='mb10'>To date</div>
              </div>
	      <div class="form-group text-center">
                 <hr> 
                 <button data-bind="null__click:save_option" class='btn btn-default btn-sm'>Save options</button>
              </div>  
            </div>
          </div>
        </div>
    </div>
</div>
<script src="lib/jctajr.min.js"></script>
<script src="lib/ui.js"></script>
<script src="lib/app.js"></script>
</body>
</html>